{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
      <li>AccountID: {{entry.accountId}}</li>
      <li>InvoiceID: {{entry.id}}</li>
      <li>Company: {{entry.companyName}}</li>
      <li>Invoice Date: {{entry.closedDate[0:10]}}</li>
      <li>Invoice Amount: {{entry.invoiceTotalAmount}}</li>
      <li>Invoice Items {{entry.itemCount}}</li>
  </ul>
 <form action="{{ url_for('bmxbillingreport.runreport', invoiceID=entry.id) }}" method=post>
    <dl>
      <dd><input type=submit value="Create CSV">
    </dl>
  </form>

Depending on the number of items on the invoice this could take a while.
{% endblock %}

