{% extends "layout.html" %}
{% block body %}
    <br><br><br>
    <CENTER><h1>Bluemix Invoices</h1></CENTER>
        <div class="row"><div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">Invoices Available</h2>
                </div>
                <div class="panel-body">
                  <table class="table table-striped table-bordered"><thead>
                  <tr>
                    <th>Account ID</th>
                    <th>Company Name</th>
                    <th>Invoice Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Invoice Number</th>
                  </tr>
                  </thead>
                  {% for entry in entries %}
                    <tr>
                        <td> {{ entry.accountId }}</td>
                        <td> {{ entry.companyName }}</td>
                        <td> {{ entry.createDate[0:10] }}</td>
                        <td> {{ entry.statusCode}}</td>
                        <td> {{ entry.invoiceTotalAmount }}</td>
                      <td><a href="{{ url_for('bmxbillingreport.invoiceinfo', invoiceID=entry.id) }}">{{entry.id}}</a></td>
                    </tr>
                  {% else %}
                    <tr><td>No invoices found for that date.</td></tr>
                  {% endfor %}
{% endblock %}
